#map {
    width:auto;
    height:100%;
    background-color: rgba(83, 154, 221, 0.527);
}
html, body, #container{
    height: 100%;
    overflow: hidden;
    width: 100%;
    margin: 0;
}

.slider-container {
  width: 90%; /* Width of the outside container */
  box-sizing: content-box;
  position: absolute;
  bottom: 24px;
  z-index: 1001;
  height: 64px;
  padding: 1em 2em;
  left: 0; 
  right: 0; 
  margin-left: auto; 
  margin-right: auto;
}
.info-panel {
  z-index: 1003;
  position: absolute;
  top: 64px;
  right: 24px;
  width: 30%;

}

.card-footer-item {
  font-size: 0.6em;
}
.navbar {
  z-index: 1008 !important;
}

@media only screen and (max-width: 640px) {
  .slider-container {
    display: none;
  }
}