build
node_modules
package-lock.json
.vscode
.DS_Store
size-plugin.json
**/venv/
script/token.pickle
script/credentials.json
.idea/
backend/node_modules
backend/credentials.json
backend/package-lock.json
backend/dist
*.code-workspace
