.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: white;
  /* needs to be higher than the map */
  z-index: 1008;
  display: flex;
  align-items: center;
  height: 56px;
}

.heading {
  font-weight: bold;
  margin-left: 24px;
}

.icon {
  width: 1em;
}
