.ld-header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: white;
  /* needs to be higher than the map */
  z-index: 1100;
  display: flex;
  align-items: center;
  height: 60px;
}

.ld-header::after {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  content: '';
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.12), 0 8px 8px 0 rgba(0, 0, 0, 0.24);
}

.ld-header--logo {
  display: block;
  width: 400px;
  flex-shrink: 0;
}

.ld-header--logo img {
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.ld-totals {
  height: 100%;
  margin-left: auto;
  margin-right: 30%;
}

.ld-totals--key {
  font-size: 10px;
  font-weight: 300;
}

.ld-totals--value {
  font-size: 20px;
  font-weight: 700;
}

.ld-totals ul {
  height: 100%;
  list-style: none;
  display: flex;
  padding: 0;
  margin: 0;
  text-align: center;
  text-transform: uppercase;
}

.ld-totals li {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 126px;
  padding: 0 16px;
  margin: 5px 0;
}

.ld-totals li:not(:last-of-type)::after {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 1px;
  background-color: var(--ld-dark-gray);
}

.ld-country-info {
  position: fixed;
  z-index: 1100;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ld-country-info--dialog {
  background-color: white;
  padding: 16px;
  border-radius: 8px;
  width: 100%;
  max-width: 320px;
}

.ld-country-info--dialog h1 {
  font-weight: bold;
  font-size: 20px;
  text-align: center;
  margin-bottom: 8px;
}

.ld-country-info--data-value {
  color: grey;
}


@media only screen and (max-width: 600px) {
  .ld-totals {
    display: none;
  }

  .ld-header--logo {
    margin-left: auto;
    margin-right: auto;
  }
}