:root {
  --ld-dark-gray: #2a2b2f;
  --ld-dark-blue: #0000ff;
  --ld-light-blue: #add8e6;
}

html,
body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  color: var(--ld-dark-gray);
}

*,
*:after,
*:before {
  box-sizing: border-box;
}

#app {
  height: 100%;
}

.button-unstyled {
  font: inherit;
  font-size: inherit;
  margin: 0;
  border: 0;
  outline: 0;
  padding: 0;
  color: inherit;
  background-color: transparent;
  text-align: left;
  white-space: normal;
  overflow: visible;

  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  -webkit-tap-highlight-color: transparent;
}

.button-unstyled:active {
  background: none;
  outline: none;
  padding: 0;
}

.button-unstyled::-moz-focus-inner {
  border: 0;
}
