:root {
  --ld-dark-gray: #2a2b2f;
  --ld-dark-blue: #0000ff;
  --ld-light-blue: #add8e6;
}

html,
body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  color: var(--ld-dark-gray);
}

*,
*:after,
*:before {
  box-sizing: border-box;
}

#app {
  height: 100%;
  display: flex;
  flex-direction: row;
}

#menu {
  width: 400px;
  margin-top: 96px;
  padding: 10px;
}

#desktopMenu {
  display: block;
}

#mobileMenu {
  display: none;
}

@media only screen and (max-width: 600px) {
  #app {
    flex-direction: column-reverse;
  }

  #menu {
    margin-top: 0;
    width: 100%;
  }

  #desktopMenu {
    display: none;
  }

  #mobileMenu {
    display: flex;
  }

  #mobileMenu img {
    flex: 1;
    height: 40px;
  }
}