:root {
  --ld-dark-gray: #2a2b2f;
  --ld-dark-blue: #0000ff;
  --ld-light-blue: #add8e6;
  --ld-text: black;
  --ld-bg: white;
  --ld-hover: rgb(247, 247, 247);
  --ld-active: blue;
  --ld-icon-stroke-width: 1.5;
}

.dark {
  --ld-dark-gray: #2a2b2f;
  --ld-dark-blue: #0000ff;
  --ld-light-blue: #add8e6;
  --ld-text: white;
  --ld-bg: rgb(48, 49, 54);
  --ld-hover: rgb(38, 39, 43);
  --ld-active: rgb(131, 251, 195);
  --ld-icon-stroke-width: 1.2;
}

html {
  /* 1/2 prevent bouncy scroll on iOS */
  position: fixed;
  height: 100%;
  overflow: hidden;
}

html,
body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  background-color: var(--ld-bg);
  color: var(--ld-dark-gray);
  /* 2/2 prevent bouncy scroll on iOS */
  overflow-y: scroll;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
}

*,
*:after,
*:before {
  box-sizing: border-box;
}

#app {
  height: 100%;
  display: flex;
  flex-direction: row-reverse;
  background-color: var(--ld-bg);
}

.ld-menu {
  stroke-width: var(--ld-icon-stroke-width);
  background-color: var(--ld-bg);
  color: var(--ld-text);
  z-index: 1100;
  flex-shrink: 0;
  width: 400px;
  margin-top: 76px;
  padding: 10px;
  touch-action: manipulation;
}

.ld-menu-nav ul {
  list-style: none;
  margin: 0;
  display: flex;
  justify-content: space-between;
  font-weight: 700;
  padding: 0;
}

.ld-menu-nav p {
  font-size: 13px;
}

.ld-menu-nav button {
  border-radius: 5px;
  color: var(--ld-text);
  font-family: 'Montserrat', sans-serif;
  border: none;
  margin: 0;
  padding: 0 15px 0 15px;
  width: auto;
  overflow: visible;
  background: transparent;
  font-weight: 700;
}

.ld-menu-nav button:hover {
  background-color: var(--ld-hover);
}

.ld-menu-nav svg {
  stroke-width: var(--ld-icon-stroke-width);
  display: none;
}

.ld-menu--content {
  overflow: auto;
  height: calc(100% - 44px);
  padding: 0px 20px 0px 20px;
}

.ld-menu--content a {
  color: var(--ld-active);
}

.ld-menu--active {
  color: var(--ld-active);
  text-decoration: underline;
}

.ld-menu--content-x {
  border: none;
  margin: 0;
  padding: 0;
  width: auto;
  overflow: visible;
  background: transparent;
  margin-top: 5px;
  margin-left: auto;
}

.ld-menu--header {
  display: flex;
}

.ld-menu--header h1 {
  padding-left: 10px;
  margin-top: 20px;
  flex: 1;
  text-align: center;
}

.ld-menu--header button {
  margin-right: 5px;
}

.mb-only {
  display: none;
}

.ld-menu-nav button {
  position: relative;
}

.ld-menu--notification {
  /* we can toggle this to show whenever a service worker update is available */
  display: none;
  width: 7px;
  height: 7px;
  background-color: #769de2;
  position: absolute;
  top: 10px;
  right: 10px;
  border-radius: 50%;
}

.ld-sources li {
  margin: 15px 0px 0px 0px;
}

@media (max-width: 960px) {
  #app {
    flex-direction: column;
  }

  .ld-menu {
    margin-top: 0;
    width: 100%;
    box-shadow: 0px -8px 8px 0px rgba(0, 0, 0, 0.24);
    flex-shrink: 0;
    height: 60px;
    padding: 0;
  }

  .ld-menu-nav p {
    display: none;
  }

  .ld-menu--notification {
    top: 0px;
    right: 15px;
    width: 10px;
    height: 10px;
  }

  .ld-menu-nav {
    display: flex;
    height: 100%;
    width: 100%;
  }

  .ld-menu-nav ul {
    padding: 0;
    justify-content: space-around;
  }

  .ld-menu-nav nav {
    width: 100%;
    padding: 10px 0px 10px 0px;
  }

  .ld-menu-nav button {
    flex: 1;
    display: flex;
    position: relative;
  }

  .ld-menu-nav svg {
    display: block;
    flex: 1;
    height: 40px;
  }

  .ld-menu--content {
    display: none;
  }

  .mb-only {
    display: block;
  }
}
