name: Deploy

on: [pull_request]

jobs:
  ci:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2 
        with:
          persist-credentials: false

      - name: Install
        run: |
          npm install

      - name: Lint
        run: |
          npm run lint

      - name: Build
        run: |
          npm run build
